* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
/* give article class of product*/

.container {
  width: 825px;
  margin: 50px auto;
}

.container-2 {
  /* background-color: #0000ff; */
  display: flex;
  gap: 40px;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #cdcdcd;
  padding: 15px;
}
/* PRODUCT INFORMATION */
.product-info {
  /* Math used to develope margin (825-8-250-80)/2 =  */
  /* width: 243px; */
  flex: 1;

  margin-top: 20px;
  /* background-color: #f7f7f7; */
}

.money {
  font-size: 20px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.sale-note {
  background-color: #ff0000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  display: inline-block; /* good example of using inline block */
  padding: 7px 15px;
  letter-spacing: 2px;
  position: absolute;
  top: -17px;
  left: -34px;
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  margin-top: 30px;
}

.color-blue {
  background-color: #0000ff;
}
.color-red {
  background-color: #ff0000;
}
.color-yellow {
  background-color: #e4d93d;
}
.color-green {
  background-color: #008000;
}
.color-brown {
  background-color: #b33a3a;
}

/* PRODUCT DETAILS */
.product-details {
  /* width: 240px;
  margin-top: 20px; */
  /* background-color: #777; */
  margin-top: 20px;
  align-items: auto;
  flex: 1;
}

.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

.detail-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.button {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.button:hover {
  color: #000;
  background-color: #fff;
}
/* techers note; use classes on every single element */

/* USING FLEXBOX */
