* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
/* give article class of product*/

.container {
  width: 825px;
  margin: 50px auto;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}
/* PRODUCT INFORMATION */

.money {
  font-size: 20px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.sale-note {
  background-color: #ff0000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  display: inline-block; /* good example of using inline block */
  padding: 7px 15px;
  letter-spacing: 2px;
  position: absolute;
  top: -17px;
  left: -34px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
}

.color-blue {
  background-color: #0000ff;
}
.color-red {
  background-color: #ff0000;
}
.color-yellow {
  background-color: #e4d93d;
}
.color-green {
  background-color: #008000;
}
.color-brown {
  background-color: #b33a3a;
}

/* PRODUCT DETAILS */

.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

.detail-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.button {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.button:hover {
  color: #000;
  background-color: #fff;
}
/* techers note; use classes on every single element */

/* FLOATS */

.img {
  float: left;
}

.purchase {
  float: left;
}

.ship {
  float: right;
}

.details {
  float: right;
}
